/*
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License, version 3, as
 * published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */
@import "../variables.scss";

app-wizard-progress-step {
	color: $lnl-yellow;
}

.nav-pills .nav-link {
	color: $lnl-yellow;
}

.nav-pills .nav-link.active {
	color: black;
	background-color: $lnl-yellow;
}

app-service:not(:first-child):before {
	content: "";
	display: block;
	height: 4rem;
	margin-top: -4rem;
}

#services-sidebar td, #services-sidebar th {
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
}
