@import "../variables.scss";

app-wizard-progress-step {
	color: $lnl-yellow;
}

.nav-pills .nav-link {
	color: $lnl-yellow;
}

.nav-pills .nav-link.active {
	color: black;
	background-color: $lnl-yellow;
}

app-service:not(:first-child):before {
	content: "";
	display: block;
	height: 4rem;
	margin-top: -4rem;
}

#services-sidebar td, #services-sidebar th {
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
}
