<!--
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License, version 3, as
published by the Free Software Foundation.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
-->
<div class="datetime">
	<div>
		<div class="input-group">
			<input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker">
			<div class="input-group-append">
				<button class="btn btn-outline-primary fa fa-calendar-o" (click)="d.toggle()" type="button" tabindex="-1"></button>
			</div>
		</div>
	</div>
	<ngb-timepicker [(ngModel)]="time" [minuteStep]="15" [meridian]="true" class="ml-3"></ngb-timepicker>
</div>
