<div class="row mb-3">
	<div class="col">
		<h2>{{ serviceOption.title }}</h2>
		{{ serviceOption.description }}
	</div>
</div>
<div class="row mb-4" *ngIf="serviceOption.isBoolean">
	<div class="col-md-4">
		<div class="card selectable-card deselectable-card" [ngClass]="{'selected': serviceOption.selectedChoice === serviceOption.choices[0]}" (click)="serviceOption.selectedChoice = serviceOption.selectedChoice == serviceOption.choices[0] ? none : serviceOption.choices[0]">
			<img *ngIf="serviceOption.choices[0].imageUrl" class="card-img-top" src="{{ serviceOption.choices[0].imageUrl }}">
			<div class="card-body">
				<div class="clearfix">
					<div class="custom-control custom-checkbox pull-left">
						<input type="checkbox" class="custom-control-input" [checked]="serviceOption.selectedChoice === serviceOption.choices[0]">
						<label class="custom-control-label">
							<h5 class="card-title">{{ serviceOption.choices[0].title }}</h5>
						</label>
					</div>
					<div class="pull-right">
						<span *ngIf="serviceOption.choices[0].price === 0">&ndash;</span>
						<span *ngIf="serviceOption.choices[0].price > 0">${{ serviceOption.choices[0].price }}</span>
					</div>
				</div>
				<div>
					{{ serviceOption.choices[0].description }}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row mb-4" *ngIf="!serviceOption.isBoolean">
	<div class="col-md-4" *ngFor="let choice of serviceOption.choices">
		<div class="card selectable-card" [ngClass]="{'selected': serviceOption.selectedChoice === choice}" (click)="serviceOption.selectedChoice = choice">
			<img *ngIf="choice.imageUrl" class="card-img-top" src="{{ choice.imageUrl }}">
			<div class="card-body">
				<div class="clearfix">
					<div class="custom-control custom-radio pull-left">
						<input type="radio" class="custom-control-input" [checked]="serviceOption.selectedChoice === choice">
						<label class="custom-control-label">
							<h5 class="card-title">{{ choice.title }}</h5>
						</label>
					</div>
					<div class="pull-right">
						<span *ngIf="choice.price === 0">&ndash;</span>
						<span *ngIf="choice.price > 0">${{ choice.price }}</span>
					</div>
				</div>
				<div>
					{{ choice.description }}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row mb-4" *ngIf="serviceOption.selectedChoice && serviceOption.selectedChoice.detailPrompt">
	<div class="col">
		<label>{{ serviceOption.selectedChoice.detailPrompt }}</label>
		<textarea [(ngModel)]="serviceOption.detail" class="form-control"></textarea>
	</div>
</div>
