/*
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License, version 3, as
 * published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */
@import "variables.scss";

$spacers: (
	navbarcollapsed: 4rem,
	navbarexpanded: 6.5rem
);

@import "../node_modules/bootstrap/scss/bootstrap";

/*********************
 * Selectable cards
 *********************/

 .selectable-card:not(.selected) {
	cursor: pointer;
}

.deselectable-card.selected {
	cursor: pointer;
}

.selectable-card:not(.selected):hover .card-body {
	box-shadow:inset 0 0 0 0.1rem $primary;
}

.selectable-card.selected:not(.disable-selected-indication) .card-body {
	box-shadow:inset 0 0 0 0.1rem $primary;
}

.cornerbox {
	position: absolute;
	right: 0;
	bottom: 0;
	color: #fff;
	padding: 0.5rem 1rem 0.5rem 1rem;
}

.selectable-card:not(.selected) .cornerbox {
	display: none;
	background-color: $primary;
}

.selectable-card:not(.selected) .cornerbox:after {
	content: "Select";
}

.selectable-card:not(.selected):hover .cornerbox {
	display: block;
}
