@import "variables.scss";

$dark: #222;
$navbar-dark-color: #ffe303;

$spacers: (
	navbarcollapsed: 4rem,
	navbarexpanded: 6.5rem
);

@import "../node_modules/bootstrap/scss/bootstrap";

body {
	min-height: 75rem;
}

/*********************
 * Selectable cards
 *********************/

.selectable-card:not(.selected) {
	cursor: pointer;
}

.selectable-card:not(.selected):hover .card-body {
	box-shadow:inset 0 0 0 0.2rem $primary;
}

.cornerbox {
	position: absolute;
	right: 0;
	bottom: 0;
	color: #fff;
	padding: 0.5rem 1rem 0.5rem 1rem;
}

.selectable-card:not(.selected) .cornerbox {
	display: none;
	background-color: $primary;
}

.selectable-card:not(.selected) .cornerbox:after {
	content: "Select";
}

.selectable-card:not(.selected):hover .cornerbox {
	display: block;
}

.selectable-card.selected .cornerbox {
	background-color: $secondary;
}

.selectable-card.selected .cornerbox:after {
	content: "Selected";
}
